<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<section class="hero is-primary">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        {% if current_user.admin %}
                            <a href="http://127.0.0.1:5000/admin" target="_blank" class="navbar-item">Admin</a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('bp_open.index') }}" class="navbar-item">Home</a>
                            <a href="{{ url_for('bp_user.inbox_get') }}" class="navbar-item">
                                <span class="icon-text">
                                    {% for message in messages_data %}
                                        {% if message.user_id == current_user.id %}
                                            {% if message.has_been_read == 0 %}
                                                <span class="icon is-small has-text-danger">
                                                    <i class="fas fa-circle icon"></i>
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <span>Inbox</span>
                            </span>
                            </a>
                            <a href="{{ url_for('bp_user.profile_get') }}" class="navbar-item">Profile</a>
                            <a href="{{ url_for('bp_user.logout') }}" class="navbar-item">Logout</a>
                            <span class="navbar-item icon-text">
                                {% for chat in chat_data %}
                                    {% if chat.name_client == current_user.name %}
                                        {% if chat.notified == 0 %}
                                            <a href=" {{ url_for('bp_user.chat_requests_get') }}" style="color:#FF0000";>Chat Request</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('bp_open.index') }}" class="navbar-item">Home</a>
                            <a href="{{ url_for('bp_open.login_get') }}" class="navbar-item">Login</a>
                            <a href="{{ url_for('bp_open.signup_get') }}" class="navbar-item">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

</section>
{% block content %}
{% endblock %}

<div class="card-footer-item">
    <div class="hero-foot">
        <p>KYH2021 - Grupp 4. Copyright all rights reserved ©</p>
    </div>
</div>


</body>
</html>