<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <a class="menu-item" href="/">Home</a>
    <a class="menu-item" href="/user">User</a>
    <a class="menu-item" href="/mango">Mango</a>
    <hr />
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>