{% extends "base-template.html" %}

{% block title %}
    Mango Inbox
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">Mango Inbox</h1>
            <table>
        <tr>
            <th>Sender</th>
            <th>Sent</th>
            <th>Title</th>
            <th>Message Body</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td>{{ message.sender.name }}</td>
                {% if message.timestamp is not none %}
                    <td>{{ message.timestamp }}-</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{ message.title }}</td>
                <td>{{ message.content }}</td>
            </tr>
        {% endfor %}
    </table>


    </div>
{% endblock %}