{% extends "base-template.html" %}

{% block title %}
    Mango Inbox
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">Mango Inbox</h1>
        <div class="table-container">
            <table class="table is-hoverable is-striped is-narrow is-fullwidth">
                <thead>
                <tr>
                    <th>Sender</th>
                    <th>Sent</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>AES key</th>
                </tr>
                </thead>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.sender.name }}</td>
                        {% if message.timestamp is not none %}
                            <td>{{ message.timestamp }}-</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td>{{ message.title }}</td>
                        <td>
                            {{ message.content }}
                        </td>
                        <td>
                            {{ message.encrypted_AES_key }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br/>
        <br/>
        <div class="field">
            <div class="box">
                <div class="control">
                    <label class="label">Upload private key</label>
                    <input type="file" id="priv-file" enctype="multipart/form-data"/>
                    <button onclick="readPrivateKey()">Read Private Key</button>
                    <span id="priv-loaded"></span>
                    <br/><br/>
                    <label class="label">Encrypted AES key</label>
                    <input class="input text" id="encrypted_aes_key" placeholder="Enter Encrypted AES-key here"/>
                    <br/>
                    <br/>
                    <p>
                        <button class="button is-primary" onclick="rsaDecrypt()">Decrypt the key</button>
                        Decrypted AES-key:
                        <span id="decrypted_aes_key"></span>
                    </p>
                    <br/>
                    <label class="label">Encrypted message</label>
                    <input class="input text" id="message_to_decrypt" placeholder="Enter encrypted Message here"/>
                    <br/>
                    <br/>
                    <button class="button is-primary" onclick="decrypt()">Decrypt the message</button>
                    <br/>
                    <br/>


                </div>
            </div>
        </div>
        <article class="message is-dark">
            <div class="message-header">
                <p>Decrypted Message</p>
            </div>
            <div id="decrypted_message" class="message-body">
                &lt;Message&gt;

            </div>
        </article>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
        <script src="../static/js/rsa.js"></script>
        <script>


            let publicKey;
            let privateKey;
            let key;

            function readPrivateKey() {
                let files = document.getElementById("priv-file").files;
                let file = files[0];
                let reader = new FileReader();

                reader.onloadend = function (event) {
                    privateKey = event.target.result;
                    privateKey = privateKey.replace(/(\r\n|\n|\r)/gm, "");
                    document.getElementById("priv-loaded").innerHTML = "Private key loaded";
                };

                reader.readAsText(file);
            }

            function rsaDecrypt() {
                // Get the encrypted message
                let cipher = document.getElementById("encrypted_aes_key").value;
                let rsaEncrypt = new JSEncrypt();
                // Set the private key we want to use for decryption
                rsaEncrypt.setPrivateKey(privateKey);
                // Decrypt the message
                let plainText = rsaEncrypt.decrypt(cipher);
                document.getElementById("decrypted_aes_key").innerHTML = plainText;
            }

            function decrypt() {
                let key = document.getElementById("decrypted_aes_key").innerHTML;
                let encrypted_message = document.getElementById("message_to_decrypt").value;
                clearText = CryptoJS.AES.decrypt(encrypted_message, key);
                document.getElementById("decrypted_message").innerHTML = clearText.toString(CryptoJS.enc.Utf8);
            }

            function copyText() {
                var copyText = document.getElementById("copy_button");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(copyText.value);
                alert("Copied the text: " + copyText.value);
            }


        </script>


    </div>
{% endblock %}