{% extends "base-template.html" %}



{% block title %}
    Mango Messaging
{% endblock %}

{% block content %}

    <div class="column is-4 is-offset-4">
        <h1 class="title">Mango Messaging</h1>
        <p>Message to: {{ recipient.email }}</p>
        <br/>
        <form action="{{ url_for('bp_user.messages_post',user_id = recipient.id) }}" method="POST" class="box">

            <input type="hidden" name="user_id" value="{{ recipient.id }}">

            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input name="title" class="input" type="text" placeholder="Message Title">
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <input name="content" class="input textarea" type="text" placeholder="">
                </div>
            </div>


            <button type="submit" class="button is-primary">Send</button>
        </form>
        <i>Signed in as {{ email }}</i>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    </div>
{% endblock %}