{% extends "base-template.html" %}

{% block title %}
    Mango Profile - {{ recipent.name }}
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">User Profile for {{ recipent.name }}</h1>
        <p>Name: {{ recipent.name }}</p>
        <p>Username:<i> {{ recipent.email }}</i></p>
        <p>Mango Count: {{ recipent.mangocount }}</p>
        <br/>
        <label class="label">Public RSA</label>
        <p>{{ recipent.public_RSA }}</p>
        <br/>
        <br/>
        <button type="button" onclick="window.location.href='/messages/{{ recipent.id }}';">Send message</button>
        {% if recipent.online %}
        <button type="button" onclick="window.location.href='/chat';">Chat</button>
        {% else %}
        <button type="button" disabled>Chat</button>
        {% endif %}
    </div>
{% endblock %}