{% extends "base-template.html" %}

{% block title %}
    Mango Profile
{% endblock %}

{% block content %}
    <table class="users">
        <tr>
            <th>User Name</th>
            <th>User email</th>
            <th>Online</th>
        </tr>
        {% for user in userlist %}
            <tr>
                <td><a href="{{ url_for('bp_user.profile_get_user',user_id = user.id) }}">{{ user.name }}</a></td>
                <td>{{ user.email }}</td>
                <td class="center-content">
                    {% if user.online %}
                        <div class="circle online"></div>
                    {% else %}
                        <div class="circle offline"></div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>
    <div class="column is-4 is-offset-4">
        <h1 class="title">User Profile</h1>
        <p>Name: {{ current_user.name }}</p>
        <p>Mango Count: {{ mangocount }}</p>
        <br/>
        <i>Signed in as {{ current_user.email }}</i>
    </div>

{% endblock %}